@{
    ViewData["Title"] = "Users";
    }

    <div class=" "row mb-3">

        <div class="col">
            <a data-ajax="true" data-ajax-url="" class="btn btn-primary"></a>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
        </div>

    </div>

@section Scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>

    </script>
}
